doctype 5
html(ng-app="app")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en")
    script(src="javascripts/lib.js")
    script(src="javascripts/app.js")

  body
    block content