div.header {
  color: #34495E;
  top: 0px;
  width: 100%;
  position: absolute;
  h1, p {
    position: absolute;
    width: 520px;
    margin-left: 50%;
    left: -260px;
  }

  p {
    top: 90px;
  }
}

div.content {
  z-index: 100;
  width: 100%;
  position: relative;
  color: #34495E;
  .blog {
    padding: 0px 80px;
  }
}

div.map_container {
  height: 200px;
  width: 100%;
  position: relative;
  div.google-map {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .angular-google-map-container {
    width: 100%;
    height: 200px;
  }
}